<?xml version="1.0"?>
<config>
    <modules>
        <Ehime_Postmodule>
            <version>0.0.1</version>
            <depends>
                <!-- no dependencies -->
            </depends>
        </Ehime_Postmodule>
    </modules>
    <global>
        <models>
            <ehime_postmodule>
                <class>Ehime_Postmodule_Model</class>
            </ehime_postmodule>
        </models>
        <blocks />
        <resources />
        <extraconfig />
        <helpers>
            <postmodule>
                <class>Ehime_Postmodule_Helper</class>
            </postmodule>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <ehime_postmodule>
                        <class>ehime_postmodule/observer</class>
                        <method>ping</method>
                        <type>singleton</type>
                    </ehime_postmodule>
                </observers>
            </sales_order_place_after>
        </events>

    </global>
    <admin>
        <routers>
            <ehime_postmodule>
                <use>admin</use>
                <args>
                    <module>Ehime_Postmodule</module>
                    <frontName>postmodule</frontName>
                </args>
            </ehime_postmodule>
        </routers>
    </admin>
</config>
